@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Quicksand:wght@300..700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Quicksand", sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(circle, #070f2b, #41425a, #7c7c8d, #bcbbc5, #ffffff);
}
.daftar{
    background-color: white;
    width: 30%;
    height: auto;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}
.pesan p{
    margin: 10px 0 10px 0;
}
.pesan span{
    border: 1px solid black;
    height: auto;
    padding: 8px 16px;
    display: inline-block;
    border-radius: 20px;
}    
.pesan a{
    text-decoration: none;
    color: #070F2B;
}
.pesan span i{
    margin-right: 10px;
}
.pesan span{
    font-weight: 600;
}
.pesan span:hover{
    background-color: #070F2B;
    color: white;
}
.batas{
    position: relative;
    margin: 15px 0 15px 0;
}
hr::after{
    content: "ATAU";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    left: 50%;
    top: 50%;
    right: auto;
    transform: translate(-50%, -50%);
}
.regis{
    text-align: left;
}
.regis label{
    font-weight: 600;
}
.regis .nama input,
.regis .telpon input,
.regis .email input,
.regis .pw input{
    font-weight: 600;
    letter-spacing: 2px;
    margin: 8px 0;
    width: 100%;
    height: auto;
    outline: none;
    padding: 8px 8px;
}
button{
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #070F2B;
    font-weight: 700;
    font-size: 15px;
    border-radius: 20px;
    transition: transform .3s ease;
    opacity: .9;
    color: white;
    cursor: pointer;
}
button:hover{
    opacity: 1;
}
.masuk{
    margin-top: 10px;
    font-weight: 500;
}
.masuk a{
    text-decoration: none;
    color:#070F2B;
    font-weight: 600;
}
.masuk a:hover{
    font-weight: 700;
}